<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Ferremas</h1>
    <div id="product-list"></div>

    <h1>Carrito de Compras</h1>
    <div id="cart"></div>
    <div id="cart-total"></div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
